<ion-view can-swipe-back="false">
  <ion-content>
    <main class="container">
      <pz-header
        logo="{{vm.data.school.logo_link}}"
        name="{{vm.data.school.name}}"
        address="{{vm.data.school.address}}"
      ></pz-header>

      <section class="main-content">
        <div
          style="padding: 20px; text-align: center; font-size: larger; text-transform: uppercase; font-weight: bold;"
        >
          <span>Order Details</span>
        </div>

        <div class="reqDetails_-cancelInfo" ng-if="vm.data.is_cancel === 1">
          The order is cancelled
        </div>

        <div
          ng-if="vm.data.is_cancel === 0"
          style=" text-align: center;padding: 10px;"
        >
          {{vm.data.message}}
        </div>

        <div class="reqDetails_-info-blk">
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key">Status:</span>
            <span class="reqDetails_-info-blk__line__value"
              >{{vm.data.status_description || 'In Process'}}</span
            >
          </div>
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key">Request Date:</span>
            <span class="reqDetails_-info-blk__line__value"
              >{{vm.data.created_date}}</span
            >
          </div>
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key">Reference no:</span>
            <span class="reqDetails_-info-blk__line__value"
              >{{vm.data.tracking_number}}</span
            >
          </div>
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key">Amount:</span>
            <span class="reqDetails_-info-blk__line__value"
              >₹ {{vm.data.invoice_value}}</span
            >
          </div>
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key">Payment mode:</span>
            <span class="reqDetails_-info-blk__line__value"
              >{{vm.data.payment_mode_str}}</span
            >
          </div>
          <div
            class="reqDetails_-info-blk__line"
            ng-if="vm.data.is_cancel === 1 && vm.data.payment_mode == 1"
          >
            <span class="reqDetails_-info-blk__line__key">Refund status:</span>
            <span class="reqDetails_-info-blk__line__value"
              >{{vm.data.refund_status_str}}</span
            >
          </div>
          <div
            class="reqDetails_-info-blk__line"
            ng-if="vm.data.invoice_link && vm.data.invoice_link.length"
          >
            <span class="reqDetails_-info-blk__line__key">Invoice:</span>
            <span
              class="reqDetails_-info-blk__line__value"
              style="color: #387ef5; text-decoration: underline;"
              ng-click="vm.openInvoice(vm.data.invoice_link)"
              >OPEN</span
            >
          </div>
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key"
              >Seller contact no:</span
            >
            <span class="reqDetails_-info-blk__line__value">
              <a
                ng-href="tel:{{codeData.seller.contact}}"
                class="button button-positive button-clear"
                style="line-height: inherit;"
              >
                {{(codeData && codeData.seller) ? codeData.seller.contact : (vm
                && vm.data && vm.data.seller) ? vm.data.seller.contact : 'ERR'
                }}</a
              >
            </span>
          </div>
        </div>

        <div
          class="reqDetails_-info-blk reqDetails_-info-blk--prods"
          ng-if="vm.data.is_cancel === 0"
        >
          <div class="reqDetails_-info-blk__title">Items</div>
          <div
            style="display: flex;"
            class="reqDetails_-info-blk--prods__prod"
            ng-repeat="p in vm.data.orderProduct"
          >
            <img
              style="height: 106px; width: 80px; min-width: 80px;"
              ng-src="{{p.product.image_link}}"
              alt=""
              ng-if="p.product.image_link"
            />
            <img
              style="height: 106px; width: 80px; min-width: 80px;"
              src="http://via.placeholder.com/350x400?text=%20"
              ng-if="!p.product.image_link"
            />
            <div style="padding: 0px 10px;    position: relative;">
              <div style="font-weight: bold;">{{p.product.title}}</div>
              <ul
                style="list-style: disc; margin-left: 20px; margin-bottom: 30px;"
                ng-if="p.product.description && p.product.description.length"
              >
                <li ng-repeat="d in p.product.description track by $index">
                  {{d}}
                </li>
              </ul>
              <div class="book__detls__smry" ng-if="p.product.summary">
                ({{p.product.summary}})
              </div>
              <div
                class="book__detls__price"
                style="font-weight: bold; position: absolute; bottom: 0px;"
              >
                ₹ {{p.product.selling_price}}
              </div>
            </div>
          </div>
        </div>

        <div
          class="reqDetails_-info-blk"
          ng-if="vm.data.is_cancel === 0 && vm.data.self_pick_up == 0"
        >
          <div class="reqDetails_-info-blk__title">
            <span>Shipping Address</span>
            <!-- <span class="button reqDetails_-info-blk__btn">EDIT</span> -->
          </div>
          <div>
            {{vm.data.shipping_address.name}}
          </div>
          <div>
            {{vm.data.shipping_address.address}}
          </div>
          <div>
            {{vm.data.shipping_address.landmark}}
          </div>
          <div>
            {{vm.data.shipping_address.city.name}}
          </div>
          <div>
            {{vm.data.shipping_address.city.state.name}}
          </div>
          <div>
            {{vm.data.shipping_address.pincode}}
          </div>
          <div
            class="reqDetails_-info-blk__info"
            ng-if="vm.data.shipping_address.id === vm.data.billing_address.id"
          >
            Billing address is same as shipping address
          </div>
        </div>

        <div
          class="reqDetails_-info-blk"
          ng-if="vm.data.is_cancel === 0 && vm.data.billing_address && (vm.data.shipping_address.id !== vm.data.billing_address.id) || (vm.data.billing_address && vm.data.self_pick_up == 1 )"
        >
          <div class="reqDetails_-info-blk__title">Billing Address</div>
          <div>
            {{vm.data.billing_address.name}}
          </div>
          <div>
            {{vm.data.billing_address.address}}
          </div>
          <div>
            {{vm.data.billing_address.landmark}}
          </div>
          <div>
            {{vm.data.billing_address.city.name}}
          </div>
          <div>
            {{vm.data.billing_address.city.state.name}}
          </div>
          <div>
            {{vm.data.billing_address.pincode}}
          </div>
        </div>

        <div class="reqDetails_-info-blk" ng-if="vm.data.is_cancel === 0">
          <!-- <div class="reqDetails_-info-blk__line">
                        <span class="reqDetails_-info-blk__line__key">School:</span>
                        <span class="reqDetails_-info-blk__line__value">{{vm.data.school.name}}</span>
                    </div> -->
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key">Student:</span>
            <span class="reqDetails_-info-blk__line__value"
              >{{vm.data.student.first_name + ' ' +
              vm.data.student.last_name}}</span
            >
          </div>
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key">Class:</span>
            <span class="reqDetails_-info-blk__line__value"
              >{{vm.data.student.class_number}}</span
            >
          </div>
          <!-- <div class="reqDetails_-info-blk__line">
                        <span class="reqDetails_-info-blk__line__key">Contact:</span>
                        <span class="reqDetails_-info-blk__line__value">{{vm.data.shipping_address.contact}}</span>
                    </div> -->
        </div>

        <div class="reqDetails_-info-blk" ng-if="vm.data.is_cancel === 0">
          <div class="reqDetails_-info-blk__title">Summary</div>
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key">Gross Amount:</span>
            <span class="reqDetails_-info-blk__line__value"
              >₹ {{vm.data.value}}</span
            >
          </div>
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key">Discount:</span>
            <span class="reqDetails_-info-blk__line__value"
              >₹ {{vm.data.discount}}</span
            >
          </div>
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key">GST:</span>
            <span class="reqDetails_-info-blk__line__value"
              >₹ {{vm.data.tax_amount}}</span
            >
          </div>
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key"
              >Logistics charges:</span
            >
            <span class="reqDetails_-info-blk__line__value"
              >₹ {{vm.data.logistic_charges}}</span
            >
          </div>
          <div
            class="reqDetails_-info-blk__line"
            ng-if="vm.data.payment_mode == 0"
          >
            <span class="reqDetails_-info-blk__line__key"
              >Delivery charges:</span
            >
            <span class="reqDetails_-info-blk__line__value"
              >₹ {{vm.data.cod_charges}}</span
            >
          </div>
          <div
            class="reqDetails_-info-blk__line"
            ng-if="vm.data.payment_mode == 1"
          >
            <span class="reqDetails_-info-blk__line__key"
              >Internet handling fees:</span
            >
            <span class="reqDetails_-info-blk__line__value"
              >₹ {{vm.data.internet_handling_charges}}</span
            >
          </div>
          <div class="reqDetails_-info-blk__line">
            <span class="reqDetails_-info-blk__line__key heading--1"
              >Amount payable:</span
            >
            <span class="reqDetails_-info-blk__line__value"
              >₹ {{vm.data.invoice_value}}</span
            >
          </div>
        </div>

        <!-- <div class="reqDetails_-info-action-blk" ng-if="vm.data.is_cancel === 0 && !vm.hideCancel && vm.data.status == 1">
                    <button class="button button-block reqDetails_-info-action-blk__button reqDetails_-info-action-blk__button--cancel" ng-click="vm.cancelOrder()">Cancel Order</button>
                </div> -->

        <div class="reqDetails_-info-action-blk--back">
          <button
            class="ion ion-android-home reqDetails_-info-action-blk__button reqDetails_-info-action-blk__button--back"
            ng-click="vm.back()"
          >
            Go Home
          </button>
        </div>

        <div
          style="width: 100%; display: flex; align-items: center; justify-content: space-around; margin-top: 25px; padding-bottom: 30px;     background: #f6fbfe;"
        >
          <button
            type="button"
            class="button button-light button-small icon ion-android-share"
            style="height: 30px;margin-left: 10px;width: 116px;border-radius: 10px;font-size: small;line-height: inherit;"
            ng-click="vm.shareApp()"
          >
            Share this app
          </button>
        </div>

        <!-- <div class="reqDetails_-note">
                    <div class="reqDetails_-note__title">
                        Please note:
                    </div>

                    <div class="reqDetails_-note__point">
                        <span>We have sent the request details via SMS and email on the registered contact number.</span>
                    </div>
                </div> -->
      </section>

      <pz-footer
        logo="{{vm.data.seller.logo_link}}"
        name="{{vm.data.seller.name}}"
        email="{{vm.data.seller.email}}"
        address="{{vm.data.seller.address}}"
        contact="{{vm.data.seller.contact}}"
      ></pz-footer>
    </main>
  </ion-content>
</ion-view>
