<div class="supplier">
    <img class="supplier__logo" ng-src="{{logo}}" alt="">
    <div>
        <!-- <div class="supplier__label">{{__getStr('footer__1')}}</div> -->
        <div class="supplier__name">{{name}}</div>
        <div class="supplier__email">{{email}}</div>
        <div class="supplier__address">{{address}}</div>
        <div class="supplier__address">{{contact}}</div>
    </div>
</div>

<style>
    .supplier {
        display: flex;
        align-items: center;
        /* border-top: 3px solid rgb(255, 101, 26); */
        border-top: 2px solid #7A7A7A;
        height: 100px;
        min-height: 100px;
        max-height: 100px;
        position: relative;
        background: white;
    }

    .supplier>div {
        flex-grow: 1;
        text-align: center;
        font-size: small;
    }


    .supplier__logo {
        height: 75px;
        margin: 10px;
        width: 75px;
        border-radius: 60px;
        box-shadow: 0px 1px 3px 0px grey;
    }


    .supplier__name {
        font-weight: bold;
        text-transform: uppercase;
        color: gray;
    }

    .supplier__email {
        color: gray;
    }

    .supplier__label {
        position: absolute;
        right: 0px;
        /* background: rgb(255, 101, 26); */
        background: #7A7A7A;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: smaller;
        padding: 0px 20px;
        top: 0px;
    }

    .supplier__address {
        display: block;
        /* font-size: x-small; */
    }
</style>