<div class="school">
    <img class="school__logo" ng-src="{{logo}}" alt="">
    <div>
        <span class="school__name">{{name}}</span>
        <span class="school__address">{{address}}</span>
    </div>
</div>

<style>
    .school {
        display: flex;
        align-items: center;
        /* border-bottom: 3px solid rgb(255, 101, 26); */
        border-bottom: 2px solid #7A7A7A;
        height: 100px;
        min-height: 100px;
        background: white;
    }

    .school>div {
        flex-grow: 1;
        text-align: center;
    }

    .school__logo {
        height: 75px;
        margin: 10px;
        width: 75px;
        border-radius: 60px;
        box-shadow: 0px 1px 3px 0px grey;
    }

    .school__name {
        font-weight: bold;
        text-transform: uppercase;
        color: gray;
    }

    .school__address {
        display: block;
        font-size: x-small;
    }
</style>