<div class="popup">
    <i class="ion ion-thumbsup popup__icon"></i>
    <div class="popup__heading">{{__getStr('loginsuccessful__1')}}</div>
    <div class="popup__message">{{msg}}</div>
    <button class="popup__button" ng-click="close()">{{__getStr('loginsuccessful__2')}}</button>
</div>

<style>
    .pzPopup>.popup {
        box-shadow: 0px 3px 10px 6px grey;
    }

    .pzPopup>.popup>.popup-head {
        display: none !important;
    }

    .pzPopup>.popup>.popup-body {
        padding: 0px !important;
    }



    .popup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .popup__icon {
        font-size: -webkit-xxx-large;
        color: black;
        margin-top: 15px;
    }

    .popup__heading {
        font-size: x-large;
        color: rgb(255, 101, 26);
        padding: 25px 0px;
    }

    .popup__message {
        font-size: unset;
        padding: 20px;
        text-align: center;
    }

    .popup__button {
        margin: 20px 0px;
    }
</style>