<div style="display: flex; flex-direction: column; height: 100%; justify-content: space-between;">
	<div style="display: flex;">
		<img src="img/updateAvail.svg" style="height: 20px; margin-right: 10px;" />
		<span style="font-weight: bold; ">Update Available!</span>
		<span style="font-size: smaller; flex-grow: 1; text-align: right;">
			<span style="text-decoration: line-through;">v{{currentVer}}</span>
			<span class="icon ion-ios-arrow-thin-right"></span>
			<span>v{{serverVer}}</span>
		</span>
	</div>
	<div>Please update The School Bookz App to get the latest features.</div>
	<div style="     margin-bottom: 5px;   text-align: right;">
		<a ng-click="closePopup()" ng-if="!updateMandatory || updateMandatory=='false'" style="text-decoration: none; padding: 10px; color: grey;">LATER</a>
		<a href="{{dataLink}}" style="text-decoration: none; padding: 10px;">UPDATE NOW!</a>
	</div>
</div>