<ion-view>
    <ion-content>
        <main class="container">
            <pz-header></pz-header>

            <section class="main-content">

                <div class="heading heading--1">{{__getStr("address__3")}}</div>
                <div class="heading heading--2">{{__getStr('address__4')}}</div>

                <form name="form" style="margin: 20px;" ng-submit="vm.goToCheckout()" novalidate>

                    <div class="inpt-blk" ng-if="vm.selfPickUpAllowed">
                        <div ng-init="vm.form.selfPickUp = false;" style="display: flex; align-items: center; justify-content: center;">
                            <label class="checkbox">
                                <input type="checkbox" id="selfPickUp" class="" value="off" ng-model="vm.form.selfPickUp">
                            </label>
                            <div>Self pick up from school
                        </div>
                    </div>

                    <!-- shipping section -->
                    <div class="inpt-blk" ng-if="!vm.form.selfPickUp">
                        <div class="inpt-blk__title">{{__getStr('address__7')}}</div>

                        <div class="inpt-blk__inputs-row">
                            <div class="input-container" style="width:50% !important;">
                                <input name="shippingfirstName" ng-model="vm.form.shipping.firstName" class="form__input" type="text" placeholder="{{__getStr('address__11')}}"
                                    ng-required="!vm.form.selfPickUp" ng-disabled="vm.form.selfPickUp">
                                <span></span>
                                <div class="validation" ng-if="form.shippingfirstName.$dirty && form.shippingfirstName.$invalid">This field is mandatory</div>
                            </div>
                            <div class="input-container" style="width:50% !important;">
                                <input name="shippinglastName" ng-model="vm.form.shipping.lastName" class="form__input" type="text" placeholder="{{__getStr('address__12')}}"
                                    ng-required="!vm.form.selfPickUp" ng-disabled="vm.form.selfPickUp">
                                <span></span>
                                <div class="validation" ng-if="form.shippinglastName.$dirty && form.shippinglastName.$invalid">This field is mandatory</div>
                            </div>
                        </div>

                        <div class="inpt-blk__inputs-row" style="    margin-top: 20px;">
                            <div class="input-container">
                                <input name="shipping.line1" ng-model="vm.form.shipping.line1" class="form__input" type="text" placeholder="{{__getStr('address__13')}}"
                                    ng-required="!vm.form.selfPickUp" ng-disabled="vm.form.selfPickUp">
                                <span></span>
                                <div class="validation" ng-if="form['shipping.line1'].$dirty && form['shipping.line1'].$invalid">This field is mandatory</div>
                            </div>
                        </div>
                        <div class="inpt-blk__inputs-row" style="    margin-top: 20px;">
                            <input name="shipping.landmark" ng-model="vm.form.shipping.landmark" class="form__input" type="text" placeholder="{{__getStr('address__15')}}"  ng-disabled="vm.form.selfPickUp">
                            <span></span>
                        </div>
                        <div class="inpt-blk__inputs-row" style="    margin-top: 20px;">
                            <div class="input-container">
                                <input name="shipping.pincode" ng-model="vm.form.shipping.pincode" class="form__input" type="number" placeholder="{{__getStr('address__16')}}"
                                    ng-required="!vm.form.selfPickUp" ng-disabled="vm.form.selfPickUp" ng-pattern="/^\d{1,6}$/" ng-minlength="6" ng-maxlength="6">
                                <span></span>
                                <div class="validation" ng-if="form['shipping.pincode'].$dirty && form['shipping.pincode'].$invalid">Please enter a valid pincode</div>
                            </div>
                        </div>
                        <div class="inpt-blk__inputs-row" style="    margin-top: 20px;">
                            <div class="input-container" style="width:50% !important;">
                                <select type="text" class="form__input form__input--class" name="shipping.state" ng-model="vm.form.shipping.state" placeholder="{{__getStr('address__17')}}"
                                    ng-required="!vm.form.selfPickUp" ng-disabled="vm.form.selfPickUp" ng-change="vm.loadCities(vm.form.shipping.state, vm.form.shipping)">
                                    <option value="" disabled>{{__getStr('address__17')}}</option>
                                    <option ng-repeat="state in vm.states" value="{{state.id}}">{{state.name}}</option>
                                </select>
                                <span></span>
                                <div class="validation" ng-if="form['shipping.state'].$dirty && form['shipping.state'].$invalid">This field is mandatory</div>
                            </div>

                            <div class="input-container" style="width:50% !important;">
                                <select type="text" class="form__input form__input--class" name="shipping.city" ng-model="vm.form.shipping.city" placeholder="{{__getStr('address__18')}}"
                                    ng-required="!vm.form.selfPickUp" ng-disabled="vm.form.selfPickUp || !vm.form.shipping.state || !vm.form.shipping.cities">
                                    <option value="" disabled>{{__getStr('address__18')}}</option>
                                    <option ng-repeat="city in vm.form.shipping.cities" value="{{city.id}}">{{city.name}}</option>
                                </select>
                                <span></span>
                                <div class="validation" ng-if="form['shipping.city'].$dirty && form['shipping.city'].$invalid">This field is mandatory</div>
                            </div>
                        </div>
                    </div>

                    <!-- shipping section ends -->
                    <li class="item item-toggle inpt-blk" ng-if="!vm.form.selfPickUp">
                        {{__getStr('address__8')}}
                        <label class="toggle toggle-stable">
                            <input type="checkbox" ng-model="vm.addBillingAddr"  ng-disabled="vm.form.selfPickUp">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>

                    <!-- billing section -->
                    <div class="inpt-blk" ng-if="vm.addBillingAddr === true || vm.form.selfPickUp">
                    <!-- billing section -->
                        <div class="inpt-blk__title">{{__getStr('address__6')}}</div>

                        <div class="inpt-blk__inputs-row">
                            <div class="input-container" style="width:50% !important;">
                                <input name="billingfirstName" ng-model="vm.form.billing.firstName" class="form__input __width50" type="text" placeholder="{{__getStr('address__11')}}" required
                                    >
                                <span></span>
                                <div class="validation" ng-if="form.billingfirstName.$dirty && form.billingfirstName.$invalid">This field is mandatory</div>
                            </div>
                            <div class="input-container" style="width:50% !important;">
                                <input name="billinglastName" ng-model="vm.form.billing.lastName" class="form__input __width50" type="text" placeholder="{{__getStr('address__12')}}" required
                                    >
                                <span></span>
                                <div class="validation" ng-if="form.billinglastName.$dirty && form.billinglastName.$invalid">This field is mandatory</div>
                            </div>
                        </div>

                        <div class="inpt-blk__inputs-row" style="    margin-top: 20px;">
                            <div class="input-container">
                                <input name="billing.line1" ng-model="vm.form.billing.line1" class="form__input" type="text" placeholder="{{__getStr('address__13')}}" required
                                    >
                                <span></span>
                                <div class="validation" ng-if="form['billing.line1'].$dirty && form['billing.line1'].$invalid">This field is mandatory</div>
                            </div>
                        </div>
                        <div class="inpt-blk__inputs-row" style="    margin-top: 20px;">
                            <input name="billing.landmark" ng-model="vm.form.billing.landmark" class="form__input" type="text" placeholder="{{__getStr('address__15')}}"  required>
                            <span></span>
                        </div>
                        <div class="inpt-blk__inputs-row" style="    margin-top: 20px;">
                            <div class="input-container">
                                <input name="billing.pincode" ng-model="vm.form.billing.pincode" class="form__input" type="number" placeholder="{{__getStr('address__16')}}" required
                                    >
                                <span></span>
                                <div class="validation" ng-if="form['billing.pincode'].$dirty && form['billing.pincode'].$invalid">Please enter a valid pincode</div>
                            </div>
                        </div >
                        <div class="inpt-blk__inputs-row" style="    margin-top: 20px;">
                            <div class="input-container" style="width:50% !important;">
                                <select type="text" class="form__input form__input--class" name="billing.state" ng-model="vm.form.billing.state" placeholder="{{__getStr('address__17')}}"
                                    ng-change="vm.loadCities(vm.form.billing.state, vm.form.billing)" required>
                                    <option value="" disabled>{{__getStr('address__17')}}</option >
                                    <option ng-repeat="state in vm.states" value="{{state.id}}">{{state.name}}</option>
                                </select>
                                <span></span>
                                <div class="validation" ng-if="form['billing.state'].$dirty && form['billing.state'].$invalid">This field is mandatory</div>
                            </div>

                            <div class="input-container" style="width:50% !important;">

                                <select type="text" class="form__input form__input--class" name="billing.city" ng-model="vm.form.billing.city" placeholder="{{__getStr('address__18')}}"
                                    ng-disabled="!vm.form.billing.state || !vm.form.billing.cities" required>
                                    <option value="" disabled>{{__getStr('address__18')}}</option>
                                    <option ng-repeat="city in vm.form.billing.cities" value="{{city.id}}">{{city.name}}</option>
                                </select>
                                <span></span>
                                <div class="validation" ng-if="form['billing.city'].$dirty && form['billing.city'].$invalid">This field is mandatory</div>
                            </div>
                        </div>
                    </div>
                    <!-- billing section ends -->

                    <div class="action-btn-container">
                        <button type="submit" ng-disabled="!form.$valid">Proceed to checkout</button>
                    </div>

                </form>

            </section>

            <pz-footer></pz-footer>
        </main>
    </ion-content>
</ion-view>