<ion-view>
    <ion-content>
        <main class="container">
            <pz-header></pz-header>

            <section class="main-content">


                <form class="form" style="margin: 20px;" name="form" ng-submit="info.requestOTP()" novalidate>
                    <div class="inpt-blk">
                        <div class="inpt-blk__title">{{__getStr('studentInfo__1')}}</div>
                        <div class="inpt-blk__inputs-row">
                            <div class="input-container" style="width:50% !important;">
                                <input name="firstName" ng-model="info.firstName" class="form__input" type="text" placeholder="{{__getStr('studentInfo__2')}}"
                                    required>
                                <span></span>
                                <div class="validation" ng-if="form.firstName.$dirty && form.firstName.$invalid">This field is mandatory</div>
                            </div>

                            <div class="input-container" style="width:50% !important;">
                                <input name="lastName" ng-model="info.lastName" class="form__input" type="text" placeholder="{{__getStr('studentInfo__3')}}"
                                    required>
                                <span></span>
                                <div class="validation" ng-if="form.lastName.$dirty && form.lastName.$invalid">This field is mandatory</div>
                            </div>
                        </div>
                    </div>

                    <div class="inpt-blk">
                        <div class="inpt-blk__title">{{__getStr('studentInfo__4')}}</div>
                        <div class="inpt-blk__inputs-row">
                            <div class="input-container">
                                <input class="form__input" type="email" name="email" ng-model="info.email">
                                <span></span>
                                <div class="validation" ng-if="form.email.$dirty && form.email.$invalid">Please enter a valid Email ID</div>
                            </div>
                        </div>
                    </div>


                    <div class="inpt-blk" style="display: flex;align-items: flex-end;">


                        <div class="inpt-blk __width50">
                            <div class="inpt-blk__title">{{__getStr('studentInfo__6')}}</div>
                            <div class="inpt-blk__inputs-row">
                                <div class="input-container">
                                    <select type="text" class="form__input form__input--class" name="class" ng-model="info.class" required>
                                        <option ng-repeat="class in codeData.classes" value="{{class}}">{{class}}</option>
                                    </select>
                                    <span></span>
                                    <div class="validation" ng-if="form.class.$dirty && form.class.$invalid">This field is mandatory</div>
                                </div>
                            </div>
                        </div>

                        <div class="inpt-blk __width50" style="margin-top: 0px;    margin-left: 10px;">
                            <div class="inpt-blk__title">{{__getStr('studentInfo__7')}}</div>
                            <div class="inpt-blk__inputs-row">
                                <div class="input-container">
                                    <input class="form__input" type="number" name="mobile" ng-pattern="/^\d{1,10}$/" ng-minlength="10" ng-maxlength="10" ng-model="info.mobile"
                                        required>
                                    <span></span>
                                    <div class="validation" ng-if="form.mobile.$dirty && form.mobile.$invalid">Enter a valid mobile number</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="action-btn-container">
                        <button type="submit" ng-disabled="!form.$valid">{{__getStr('studentInfo__9')}}</button>
                    </div>

                </form>

            </section>

            <pz-footer></pz-footer>


        </main>
    </ion-content>
</ion-view>