<ion-view can-swipe-back="false">
    <ion-content>
        <main class="container">
            <pz-header></pz-header>

            <section class="main-content">

                <div style="border-bottom: 1px solid lightgrey;     padding-bottom: 35px;">
                    <div class="thankYou_-heading thankYou_-heading--1">
                        <i class="ion ion-thumbsup popup__icon"></i>
                    </div>
                    <div class="thankYou_-heading thankYou_-heading--1">Congratulations</div>
                    <div class="thankYou_-heading thankYou_-heading--2">Your request was successful</div>

                    <div class="action-btn-container">
                        <button ng-click="vm.reqDetails()">Show request details</button>
                    </div>
                </div>

                <div style="border-bottom: 1px solid lightgrey;     padding-bottom: 35px;">
                    <div class="thankYou_-heading thankYou_-heading--1">
                        <img src="img/kids.png" alt="" style="height: 60px;">
                    </div>
                    <div class="thankYou_-heading thankYou_-heading--1">Another trouble maker at home?</div>
                    <div class="thankYou_-heading thankYou_-heading--2">Request again for a different class or school</div>

                    <div class="action-btn-container">
                        <button ng-click="vm.newRequest()">New request</button>
                    </div>
                </div>



            </section>

            <pz-footer></pz-footer>
        </main>
    </ion-content>
</ion-view>