<ion-view>
  <ion-content>
    <main class="container">
      <pz-header></pz-header>
      <section class="main-content">
        <div class="heading">Checkout</div>
        <div class="books-container">
          <div>
            <span>Payment method: </span>
            <span ng-if="codeData.cod_allowed">(please select one)</span>
            <ion-list class="myToggle">
              <ion-radio
                ng-model="vm.paymentMethod"
                ng-value="'COD'"
                ng-if="codeData.cod_allowed"
                >Cash on delivery</ion-radio
              >
              <ion-radio ng-model="vm.paymentMethod" ng-value="'ONLINE'"
                >Pay online</ion-radio
              >
            </ion-list>
          </div>

          <!-- <div class="action-blk" ng-if="vm.paymentMethod">
                        <div class="action-blk__amount">
                            <span class="amount-action-blk__amount__text">{{__getStr('packages__2')}}: </span>
                            <span class="amount-action-blk__amount__value">₹{{vm.getFinalTotal()}}</span>
                        </div>
                        <div class="action-blk__tax" ng-if="vm.totalTax > 0">
                            <span>GST: ₹{{vm.totalTax}}</span>
                        </div>
                        <div class="action-blk__tax">
                            <span>Logistics charges: </span>
                            <span ng-if="codeData.logistic_charges_bourne_by == 1">₹{{codeData.logistic_charges}}</span>
                            <span ng-if="codeData.logistic_charges_bourne_by == 0">free</span>
                        </div>
                        <div class="action-blk__tax" ng-if="vm.paymentMethod === 'COD' ">
                            <span>Delivery charges: </span>
                            <span ng-if="codeData.cod_charges_bourne_by == 1">₹{{codeData.cod_charges}}</span>
                            <span ng-if="codeData.cod_charges_bourne_by == 0">free</span>
                        </div>
                        <div class="action-blk__tax" ng-if="vm.paymentMethod === 'ONLINE' ">
                            <span>Internet handling fees: </span>
                            <span ng-if="codeData.gateway_charges_bourne_by == 1">₹{{vm.internetFees}}</span>
                            <span ng-if="codeData.gateway_charges_bourne_by == 0">free</span>
                        </div>

                        <button style="margin-top: 20px;" ng-click="vm.placeRequest()" ng-disabled="!vm.paymentMethod">Proceed</button>
                    </div> -->

          <div
            style=" margin-top: 25px; padding: 0px 15px;"
            ng-if="vm.paymentMethod"
          >
            <div
              style=" display: flex; justify-content: space-between; font-weight: bold; border-bottom: 1px solid grey; margin-bottom: 10px; padding-bottom: 5px; "
            >
              <span>Total Amount</span>
              <span>₹{{vm.getFinalTotal()}}</span>
            </div>
            <div
              style="    margin-bottom: 2px; display: flex; justify-content: space-between; "
              ng-if="vm.totalTax > 0"
            >
              <span>GST</span>
              <span>₹{{vm.totalTax}}</span>
            </div>
            <div
              style="    margin-bottom: 2px; display: flex; justify-content: space-between; "
            >
              <span>Logistics charges</span>
              <span
                ng-if="codeData.logistic_charges_bourne_by == 1 && vm.data.self_pick_up == 0"
                >₹{{codeData.logistic_charges}}</span
              >
              <span
                ng-if="codeData.logistic_charges_bourne_by == 0 || vm.data.self_pick_up == 1"
                >Free</span
              >
            </div>
            <div
              style="    margin-bottom: 2px; display: flex; justify-content: space-between; "
              ng-if="vm.paymentMethod === 'COD' "
            >
              <span>COD charges</span>
              <span ng-if="codeData.cod_charges_bourne_by == 1"
                >₹{{codeData.cod_charges}}</span
              >
              <span ng-if="codeData.cod_charges_bourne_by == 0">Free</span>
            </div>
            <div
              style="    margin-bottom: 2px; display: flex; justify-content: space-between; "
              ng-if="vm.paymentMethod === 'ONLINE'"
            >
              <span>Internet Handling Fees</span>
              <span ng-if="codeData.gateway_charges_bourne_by == 1"
                >₹{{vm.internetFees}}</span
              >
              <span ng-if="codeData.gateway_charges_bourne_by == 0">Free</span>
            </div>
            <div
              style="width: 100%; display: flex; justify-content: center; flex-direction: column; align-items: center; margin-top: 30px;"
            >
              <div
                ng-init="vm.tnc = false;"
                style="display: flex; align-items: center; justify-content: center;"
              >
                <label class="checkbox">
                  <input
                    type="checkbox"
                    id="tnc"
                    class=""
                    value="off"
                    ng-model="vm.tnc"
                  />
                </label>
                <div>
                  I have read and agree to the
                  <span
                    style="color: #ef6130;text-decoration: underline;"
                    ng-click="vm.openTermsOfUse($event)"
                    >Terms of Use</span
                  >
                </div>
              </div>
              <button
                style="margin-top: 10px; margin-bottom: 10px;"
                ng-click="vm.placeRequest()"
                ng-disabled="!vm.paymentMethod || !vm.tnc"
              >
                Proceed
              </button>
            </div>
          </div>
        </div>
      </section>
      <pz-footer></pz-footer>
    </main>
  </ion-content>
</ion-view>
