<ion-view can-swipe-back="false">
  <ion-content>
    <main class="container">
      <pz-header></pz-header>
      <div class="__background">
        <button ng-click="packages.back()" class="back-btn">Go back</button>
        <div class="heading">{{ __getStr("packages__1", codeData.class) }}</div>
        <div class="books-container">
          <div class="book" ng-repeat="prod in packages.packages track by $index" ng-style="{background: prod.is_mandatory === 1 ? '#FFFFFF':'#FFFDE7'}">
            <img class="book__image" ng-src="{{ prod.image_link }}" alt="" ng-if="prod.image_link" />
            <img class="book__image" src="http://via.placeholder.com/350x400?text=%20" ng-if="!prod.image_link" />
            <div class="book__detls">
              <div class="book__detls__title">{{ prod.title }}</div>
              <ul style="list-style: disc; margin-left: 20px;">
                <li ng-repeat="d in prod.description track by $index">{{ d }}</li>
              </ul>
              <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: flex-end;">
                <div class="book__detls__smry" ng-if="prod.summary">{{ prod.summary }}</div>
                <div class="book__detls__price">
                  <span class="book__detls__price_sp">₹{{ prod.selling_price }}</span>
                  <span class="book__detls__price_mrp" ng-if="prod.discount_percent && prod.discount_percent>0">{{ prod.mrp }}</span>
                  <span class="book__detls__price_disc" ng-if="prod.discount_percent && prod.discount_percent>0">{{ prod.discount_percent }}% off</span>
                </div>
                <div ng-if="prod.tax_1 || prod.tax_2 || prod.tax_3" class="book__detls__price_gst">GST included</div>
              </div>
            </div>
            <ion-checkbox
              ng-if="prod.is_mandatory === 0"
              class="book__checkbox__mask"
              ng-class="{__opacity50: prod.is_mandatory === 1}"
              ng-model="prod.selected"
              ng-click="packages.calcTotal($index)"
            ></ion-checkbox>
          </div>

          <div style="margin-top: 20px;font-size: smaller;">NOTE: All images are representative. Actual products may vary.</div>

          <div class="action-blk">
            <div class="action-blk__amount">
              <span class="amount-action-blk__amount__text">{{ __getStr("packages__2") }}: </span>
              <span class="amount-action-blk__amount__value">₹{{ packages.totalWithTax }}</span>
            </div>
            <div class="action-blk__tax" ng-if="packages.totalTax > 0">
              <span>GST: ₹{{ packages.totalTax }}</span>
            </div>

            <button ng-click="packages.placeRequest()" ng-disabled="packages.totalWithTax===0">Proceed</button>
          </div>
        </div>
      </div>
      <pz-footer></pz-footer>
    </main>
  </ion-content>
</ion-view>
