<ion-view>
    <ion-content>
        <main class="container">
            <pz-header></pz-header>
            <form class="form" name="form" ng-submit="otp.verifyOTP()" novalidate>

                <label for="otp">{{__getStr('otpVerify__1')}} {{otp.mobile}}</label>

                <input class="otpInput" type="number" name="otp" ng-model="otp.otp" placeholder="{{__getStr('otpVerify__5')}}" ng-pattern="/^\d{1,6}$/"
                    ng-minlength="6" ng-maxlength="6" required>

                <button type="submit" ng-disabled="!form.$valid">{{__getStr('otpVerify__2')}}</button>
                <div>{{__getStr('otpVerify__3')}}
                    <button type="button" class="button-clear button--resend" ng-click="otp.resend()" ng-disabled="otp.sec!==0 || otp.resends===otp.MAX_RESENDS">{{__getStr('otpVerify__4')}}</button>
                    <span ng-show="otp.sec!==0">(0:{{otp.sec}})</span>
                </div>
            </form>

            <pz-footer></pz-footer>


        </main>
    </ion-content>
</ion-view>