<ion-view can-swipe-back="false">
    <ion-content>

        <div class="schoolCode_-logoContainer">
            <img class="schoolCode_-logoContainer__logo" src="img/logo.png" alt="">
            <div style="padding: 20px 0px; font-style: italic; color: #6d443d; font-size: small; text-align: center; position: relative; display: flex; align-items: center; justify-content: center;margin-bottom: 30px;">Powered by Prozo Technology</div>
        </div>
        <form class="schoolCode_-content" novalidate ng-submit="vm.checkCode()" name="form">
            <!-- <div style="position: relative;">
                <img class="schoolCode_-icon" src="img/icon.png" alt="">
                <button type="button" class="button button-light button-small icon ion-android-share" style="height:30px;top:-15px;position:absolute;margin:auto;display:block;right:3%;width:60px;border-radius:10px;font-size:small;line-height: initial;">Share</button>
            </div> -->
            <img class="schoolCode_-icon" src="img/icon.png" alt="">
            <div class="schoolCode_-code">
                <div class="schoolCode_-code__inputbox">

                    <input type="number" name="code" ng-model="vm.code" placeholder="{{__getStr('schoolCode__3')}}" ng-pattern="/^\d{1,6}$/"
                        ng-minlength="6" ng-maxlength="6" required>
                    <div>{{__getStr('schoolCode__1')}}
                    </div>
                </div>
                <!-- <div class="schoolCode_-code__forgot">{{__getStr('schoolCode__2')}}
                </div> -->
                <!-- <div class="schoolCode_-code__forgot" ng-click="vm.viewPreviousOrder()">{{__getStr('schoolCode__4')}}
                </div> -->

            </div>
            <button class="button ion-chevron-right icon-right schoolCode_-go" ng-disabled="form.$invalid">Begin</button>
            <!-- #e54a2e; -->

            <div style="width: 100%; display: flex; align-items: center; justify-content: space-around; margin-top: 25px; padding-bottom: 30px;     background: #f6fbfe;">
                <button type="button" class="button button-light button-small icon  ion-android-locate" style="height: 30px;     margin-left: 10px;     width: 120px;     border-radius: 10px;     font-size: small;     line-height: inherit;"
                    ng-click="vm.viewPreviousOrder()">Track old order</button>

                <button type="button" class="button button-light button-small icon ion-android-share" style="height: 30px;margin-left: 10px;width: 116px;border-radius: 10px;font-size: small;line-height: inherit;"
                    ng-click="vm.shareApp()">Share this app</button>
            </div>
        </form>

    </ion-content>
</ion-view>