@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Open Sans" !important;
  color: #616161;
  font-weight: normal;
  /* font-size: 17.6px; */
}

.ionic-scroll > div:first-child {
  height: 100%;
}

.__height {
  height: 100%;
}

.__width50 {
  width: 50%;
}

input.ng-dirty.ng-invalid:not(:focus),
input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
  border: 2px solid #ff5722 !important;
}

.__opacity50 {
  opacity: 0.5;
}

button.activated {
  opacity: 0.5 !important;
  /* background-color: inherit !important; */
}

button:disabled {
  opacity: 0.3 !important;
}

/* loader start*/
.prozo-loader-svg-path {
  fill: rgba(255, 0, 0, 0);
  stroke: url(#grad1);
  stroke-width: 20px;
  stroke-dasharray: 2332;
  stroke-dashoffset: 0;
  stroke-miterlimit: 0;
  animation: offset 2s ease-out infinite;
}

@keyframes offset {
  0% {
    stroke-dashoffset: 2332;
  }
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 2332;
  }
}

#prozo-loader-svg {
  background: white;
  padding: 5px;
  height: 75px;
  width: 75px;
  border-radius: 12px;
}
/* laoder end */

/* school code  */
.schoolCode_-logoContainer {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.schoolCode_-logoContainer__logo {
  height: 80px;
}

.schoolCode_-content {
  height: 60%;
  background: rgb(246, 251, 254);
}

.schoolCode_-icon {
  height: 120px;
  top: -45px;
  position: relative;
  margin: auto;
  display: block;
}

.schoolCode_-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}

.schoolCode_-code__inputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.schoolCode_-code__forgot {
  font-size: smaller;
  margin-bottom: 20px;
  text-decoration: underline;
}

.schoolCode_-code__inputbox input {
  box-shadow: 0px 1px 3px 0px grey;
  border-radius: 5px;
  padding: 20px;
  color: grey;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.schoolCode_-code__inputbox input + div {
  padding: 0px 10px;
  text-align: center;
}

.schoolCode_-go {
  border-radius: 50px;
  height: 50px;
  width: 110px;
  margin-top: 50px;
  background: rgb(255, 101, 26);
  box-shadow: 0px 1px 3px 0px grey;
  display: block;
  margin: auto;
  color: white !important;
}
/* school code  */

/* student info */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.form {
  flex-grow: 1;
  background: #f6fbfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 360px;
  min-height: 360px;
}

.form__input {
  box-shadow: 0px 1px 1px 0px lightgrey;
  border-radius: 5px;
  color: grey !important;
  font-weight: bold;
  text-align: center;
  width: -webkit-fill-available;
  height: 45px !important;
  -webkit-appearance: none;
}

.form__input--lastName {
  margin-left: 20px;
}

.form__input__classContainer {
  display: flex;
  flex-direction: column;
}

.form__input--class {
  background: white;
  border: 0px;
  height: 35px;
  width: 60px;
  text-align: center;
}

.form__input__mobileContainer {
  margin-left: 20px;
}

.form__row {
  display: flex;
  align-items: flex-end;
  padding: 15px 30px;
  width: 100%;
}

label {
  font-size: smaller;
  text-transform: uppercase;
  color: rgb(255, 101, 26);
  font-weight: 600;
}

button {
  border-radius: 5px;
  height: 50px;
  width: 150px;
  background: rgb(255, 101, 26);
  color: white;
  box-shadow: 0px 1px 3px 0px grey;
  border: 0px;
  font-size: initial;
}
/* student info */

/* otp verify  */
label {
  font-size: smaller;
  text-transform: uppercase;
  color: rgb(255, 101, 26);
  font-weight: 600;
}

.button--resend {
  font-weight: bold;
  text-transform: uppercase;
  width: auto;
  color: rgb(255, 101, 26) !important;
}

.otpInput {
  box-shadow: 0px 1px 3px 0px grey;
  border-radius: 5px;
  margin: 40px;
  color: grey !important;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  height: 50px !important;
  padding: 0px 30px !important;
}
/* otp verify  */

/* packages */
.heading {
  font-size: large;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  margin: 20px;
}

.books-container {
  margin: 10px;
}

.book {
  display: flex;
  position: relative;
  margin-top: 20px;
}

.book__image {
  height: 160px;
  width: 120px;
  min-width: 120px;
}

.book__checkbox {
  position: absolute;
  height: 40px;
  width: 40px;
}

.book__checkbox__mask {
  background: rgba(0, 0, 0, 0) !important;
  position: absolute;
  border: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.book__checkbox__mask.activated {
  background: rgba(0, 0, 0, 0) !important;
}

.book__checkbox__mask > div {
  top: 20px !important;
  right: 0px !important;
  left: auto !important;
}

.book__detls {
  flex-grow: 1;
  border-top: 2px solid lightgrey;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.book__detls__title {
  font-weight: bold;
  text-transform: capitalize;
}

.book__detls__desc {
  white-space: pre-line;
  /* add bullet point to every line -START */
  padding-left: 10px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='gray' font-size='25'>%E2%80%A2</text></svg>");
  background-repeat: repeat-y;
  background-position: inherit;
  background-size: 50px;
  background-position-y: 8px;
  /* add bullet point to every line -END */
}

.book__detls__smry {
  margin: 20px 0px;
}

.book__detls__price {
  margin-top: 5px;
  /* position: absolute;
  bottom: 0px; */
}

.book__detls__price_sp {
  font-weight: bold;
  color: #ef6130;
}

.book__detls__price_mrp {
  text-decoration: line-through;
  color: gray;
  margin-left: 5px;
}

.book__detls__price_disc {
  color: gray;
  margin-left: 10px;
}

.book__detls__price_gst {
  color: lightgray;
  /* position: absolute;
  bottom: 19px; */
}

.action-blk {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}

.action-blk__amount {
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
}

.action-blk__tax {
  color: gray;
  margin-bottom: 20px;
}

.amount-action-blk__amount__text {
  color: grey;
}

.amount-action-blk__amount__value {
  color: rgb(255, 101, 26);
}

.back-btn {
  width: auto;
  height: auto;
  font-size: x-small;
  background: grey;
  padding: 2px 5px;
}
/* packages */

/* addresses  */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.main-content {
  flex-grow: 1;
  background: #f6fbfe;
}

.inpt-blk {
  width: 100%;
  clear: left;
}

.inpt-blk__title {
  font-size: smaller;
  text-transform: uppercase;
  color: rgb(255, 101, 26);
  font-weight: 600;
}

.inpt-blk__inputs-row {
  width: 100%;
  display: flex;
}

.inpt-blk:nth-child(n + 2) {
  margin-top: 20px;
}

.form__input {
  box-shadow: 0px 0px 1px 0px lightgrey;
  border-radius: 5px;
  color: grey !important;
  font-weight: bold;
  text-align: center;
  width: -webkit-fill-available;
  height: 45px !important;
  float: left;
  background: white;
  border: 0px;
  text-align-last: center;
}

.inpt-blk__inputs-row > .form__input:nth-child(n + 2),
.inpt-blk__inputs-row > .input-container:nth-child(n + 2) {
  margin-left: 10px;
}

.inpt-blk__inputs-row:nth-child(n + 2) {
  margin-top: 5px;
}

.input-container {
  position: relative;
  width: 100%;
}

.__width100 {
}

input:required + span:before,
select:required + span:before {
  content: "*";
  color: #f44336;
  position: absolute;
}

button {
  border-radius: 5px;
  height: 50px;
  width: 150px;
  background: rgb(255, 101, 26);
  color: white;
  box-shadow: 0px 1px 3px 0px grey;
  border: 0px;
  font-size: initial;
}

.heading {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0px;
  font-size: larger;
}

.heading--1 {
  font-weight: bold;
}

.heading--2 {
  color: rgb(255, 101, 26);
  font-weight: 300;
  font-size: smaller;
}

.action-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* addresses  */

/* thank you */
.popup__icon {
  font-size: -webkit-xxx-large;
  color: black;
  margin-top: 15px;
}

.main-content {
  flex-grow: 1;
  background: #f6fbfe;
}

.thankYou_-heading {
  text-align: center;
  text-transform: capitalize;
  margin: 10px;
}

.thankYou_-heading--1 {
  font-weight: bold;
}

.thankYou_-heading--2 {
  color: rgb(255, 101, 26);
}

.action-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* thank you */

/* request details */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.main-content {
  flex-grow: 1;
  background: #f6fbfe;
}

.reqDetails_-info-blk {
  background: white;
  /* width: 100%; */
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px lightgrey;
}

.reqDetails_-info-blk__line {
  width: 100%;
  display: flex;
}

.reqDetails_-info-blk__line:nth-child(n + 2) {
  margin-top: 10px;
}

.reqDetails_-info-blk__line__key {
  width: 40%;
}

.reqDetails_-info-blk__line__value {
  font-weight: bold;
  width: 60%;
}

.reqDetails_-info-blk__title {
  font-weight: bold;
  margin-bottom: 10px;
}

.reqDetails_-info-blk__info {
  font-size: small;
  margin-top: 10px;
}

.reqDetails_-info-blk__btn {
  float: right;
}

.reqDetails_-note {
  margin: 20px;
}

.reqDetails_-note__title {
  font-weight: bold;
}

.reqDetails_-note__point > span:before {
  color: red;
  content: "*";
  margin-right: 15px;
  font-weight: bold;
  font-size: x-large;
  vertical-align: -webkit-baseline-middle;
  line-height: 0;
}

.reqDetails_-info-action-blk {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.reqDetails_-info-action-blk--back {
  justify-content: flex-start !important;
}

.reqDetails_-info-action-blk__button {
  box-shadow: none;
  background: #ecf1f4;
  text-transform: uppercase;
  margin: 20px;
}

.reqDetails_-info-action-blk__button--cancel {
  color: red;
}

.reqDetails_-info-action-blk__button--back {
  color: inherit;
}
.reqDetails_-info-action-blk__button--back:before {
  margin-right: 10px;
}

.reqDetails_-info-blk--prods__prod {
  font-size: smaller;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.reqDetails_-cancelInfo {
  text-align: center;
  margin: 20px;
  color: red;
  text-transform: uppercase;
}

/* request details */

.req-popup__btn {
  background: #f4f4f4;
  box-shadow: 0px 1px 0px 0px lightgrey;
  color: inherit;
  font-weight: bold;
}

.req-popup {
  top: -30%;
}

.req-popup > .popup,
.pzPopup > .popup,
.pzPopup > .popup > .popup-body > .popup {
  background: #fafafa;
  border-radius: 10px;
}

.req-popup input {
  border: 1px solid lightgrey;
}

.req-popup .button:first-child {
  border: 0px;
  background: #fafafa;
  box-shadow: none;
}

.req-popup .button:last-child {
  height: fit-content;
  padding: 0px;
  margin: 0px;
}

.validation {
  position: absolute;
  bottom: -20px;
  font-size: smaller;
  color: red;
}

.updateApp .popup {
  width: 80%;
  background-color: #fff;
  height: 25%;
}

.updateApp .popup-head {
  display: none;
}

.updateApp .popup-body {
  /* padding: 10px 10px 0px 10px;  */
  height: 100%;
}

.updateApp .col-50 {
  padding-bottom: 10px;
}

.updateApp .col-50 a {
  color: inherit;
  text-decoration: none;
}

.updateApp .col-10 {
  padding: 0;
}

.updateApp .col-10 img {
  width: 100%;
}

.myToggle .item {
  border-radius: 10px;
  border: 1px solid #b9b9b9;
}
